<div class="container-home">
  <h1>Família e membros</h1>
  <div class="card-header">
    <% if @family.photo.attached? %>
      <%= image_tag @family.photo, class: "avatar-large" %>
    <% else %>
      <%= image_tag "https://res.cloudinary.com/doohtp0fi/image/upload/v1678725327/default_avatar_x8awn9.jpg", class: "avatar-large" %>
    <% end %>
  </div>


<% @users.each do |user|%>
<div class="card-white">
  <%= image_tag user.photo, class: "avatar-medium" %>
  <p><%= user.name %></p>
</div>
<% end %>
