.container-fml-show {
  align-items: center;
  text-align: center;
}

.h1-fml-show {
  color: #8BC34A;
}

.add-family {
  margin-top: 4vh;
  width: 90%;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.join-family {
  margin-top: 8vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
