// Specific CSS for your home-page

.h1-home {
  color: #8BC34A;
  padding-top: 20px;
  padding-bottom: 8px;
  background-image: linear-gradient(rgba(139, 195, 74, 0.4) , #f4f4f4);
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.header-home {
  margin-bottom: auto;
  padding-bottom: 16px;
  align-items: center;
  display: flex;
  justify-content: center;
}
