<div class="container-pages">
  <h1>Editar tarefa</h1>
  <div class="class row">
    <div class="col-xs-12 col-sm-offset-4">
      <div class="form-edit">

        <%= render "form_task",  task: @task %>
        <%= link_to "Voltar", root_path, class: "btn btn-secondary" %>

      </div>
    </div>
  </div>
</div>
