<div class="container">

  <h1>Tasks</h1>

  <%=link_to "Create new task", new_task_path  %>
  <%=link_to "Back to home", root_path  %>

  <ul>
    <% @tasks.each do |task| %>
      <li>Category: <%= task.category %></li>
      <p>Description:<%= task.description %></p>
    <% end %>
  </ul>

</div>
