<div class="container-pages">
  <h1>Criar tarefa para seu pet</h1>
  <div class="class row">
    <div class="col-xs-12 col-sm-offset-4">
      <div class="form-edit">

        <%= render "form_task",  task: @task %>

        <%= link_to "Voltar", main_page_path, class:"nav-link" %>

      </div>
    </div>
  </div>
</div>
