<div class="container-pages">
  <h1>Crie uma nova tarefa para seu Pet</h1>

  <%= render "form_task",  task: @task %>

  <%= link_to "Voltar para a página inicial", main_page_path, class:"nav-link" %>

</div>
