<div class="container-pages">
  <h1>Editar pet</h1>
  <div class="class row">
    <div class="col-xs-12 col-sm-offset-4">
      <div class="form-edit">

        <%= render "form", family: @family, pet: @pet %>
        <%= link_to "Voltar", :back, class: "btn btn-secondary" %>

      </div>
    </div>
  </div>
</div>
