<div class="container-home">
  <h1>Editar pet</h1>
  <div class="class row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-edit">


        <%= render "form", family: @family, pet: @pet %>

      </div>
    </div>
  </div>
</div>
