<div class="container-pages">
  <h1>Famílias</h1>
  <h2>Sua família: <%= current_user.family.name %></h2>

  <% @families.each do |family| %>
    <li><%= link_to family.name, family_path(family)  %></li>
  <% end %>
</div>
