<div class="container">
  <h1>Families</h1>
  <h2>your family: <%= current_user.family.name %></h2>

  <% @families.each do |family| %>
    <li><%= link_to family.name, family_path(family)  %></li>
  <% end %>
</div>
