<div class="container">
    <%= simple_form_for @family do |f| %>
    <div class="form-inputs">
      <%= f.input :name, placeholder: "Give a fun name to your PetFamily" %>
      <%#= f.input :photos, as: :file, input_html: { multiple: true } %>
    </div>
      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-primary" %>
      </div>
  <% end %>
</div>
