<div class="navbar-lewagon">
      <ul class="navbar-nav me-auto nv-footer justify-content-between">
          <li class="navbar-item">
            <i class="fa-solid fa-paw"></i>
            <%= link_to "Tarefas", root_path, class:"nav-link" %>
          </li>
          <li class="navbar-item">
            <i class="fa-solid fa-file"></i>
            <%= link_to "Documentos", root_path, class:"nav-link" %>
          </li>
          <li class="navbar-item">
            <i class="fa-solid fa-user"></i>
            <%= link_to "Perfil", root_path, class:"nav-link" %>
          </li>

      </ul>
</div>
