<div id="navbar-botton">
  <div class="navbar-pet-family">
    <ul class="navbar-nav me-auto nv-footer justify-content-between">
      <li class="navbar-item">
        <%= link_to main_page_path, class:"nav-link" do %>
          <i class="fa-solid fa-paw"></i>
          <p>Tarefas</p>
        <% end %>
      </li>
      <li class="navbar-item">
        <%= link_to documents_path, class:"nav-link" do %>
          <i class="fa-solid fa-file"></i>
          <p>Documentos</p>
        <% end %>
      </li>
      <li class="navbar-item">
        <%= link_to family_path(current_user.family), class:"nav-link" do %>
          <i class="fa-solid fa-user"></i>
          <p>Perfil</p>
        <% end %>
      </li>
    </ul>
  </div>
</div>
