<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.cdc.gov/healthypets/images/social-media/dog-with-family-resize.jpg);">
  <div class="container">
    <h1>Pet Family ajuda famílias na <strong>rotina</strong> dos seus pets, de forma <strong>compartilhada</strong>!</h1>
    <p>Promova a maior integração de sua família através da plataforma de gerenciamento das atividades e rotinas do seu pet. É saúde e bem-estar para todos!</p>
    <%= link_to "Conheça agora!", new_user_session_path, class: "btn btn-flat" %>
  </div>
</div>
  <div class="container">
          <h2 class="home-subtittle">Tenha tudo na <strong>palma das suas mãos</strong>!</h2>
            <p>O Pet Family é um aplicativo onde você pode acompanhar todas as rotinas e necessidades do seu pet, afinal, devemos cuidar de quem nos ama incondicionalmente, né?</p>
    <div class="lp-card-marketing">
        <div class="lp-card">
          <%= image_tag "pet-food.png", class:"lp-imagem" %>
            <h4>Lembretes</h4>
              <p>Ajudamos a não perder mais os horários das refeições do seu pet.</p>
        </div>
        <div class="lp-card">
          <%= image_tag "pet-vet.png", class:"lp-imagem" %>
            <h4>Bem-estar</h4>
              <p>O Pet Family te apoia a cuidar da saúde de quem mais precisa de atenção.</p>
        </div>
        <div class="lp-card">
          <%= image_tag "pet-document.png", class:"lp-imagem" %>
            <h4>Documentos</h4>
              <p>Salve os documentos mais importantes para ter acesso na palma da sua mão.</p>
        </div>
    </div>
  </div>
