<div>
</div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.cdc.gov/healthypets/images/social-media/dog-with-family-resize.jpg);">
    <div class="container">
      <h1>Pet Family ajuda famílias na <strong>rotina</strong> dos seus pets, de forma <strong>compartilhada</strong>!</h1>
      <p>Promova a maior integração de sua família através da plataforma de gerenciamento das atividades e rotinas do seu pet. É saúde e bem-estar para todos!</p>
      <a class="btn btn-flat" href="show">Conheça agora!</a>
    </div>
  </div>
  <div class="banner-body">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/vetores-premium/cao-de-labrador-retriever-de-personagem-de-desenho-animado-e-smartphone_52569-958.jpg);">
      <div class="lp-description">
        <h1>Tenha tudo na <strong>palma das suas mãos</strong>!</h1>
        <p>O Pet Family é um aplicativo onde você pode acompanhar todas as rotinas e necessidades do seu pet, afinal, devemos cuidar de quem nos ama incondicionalmente, né?</p>
        <p></p>
      </div>
    </div>
  </div>
