<div class="container-pages">
  <h1>Editar documento</h1>

  <div class="form-edit">
    <%= render "form_documents",  document: @document %>
    <%= link_to "Voltar", document_path(@document), class: "btn btn-secondary" %>
  </div>
</div>
