<div class="container-pages">
  <h1>Adicione um novo documento do seu pet</h1>

  <div class="form-edit">
    <%= render "form_documents",  document: @document %>
    <%= link_to "Voltar", main_page_path, class:"btn btn-secondary" %>
  </div>

</div>
