<div class="container-pages">
  <h1>Adicione um novo documento para o seu pet</h1>

  <%= render "form_documents",  document: @document %>

  <%= link_to "Voltar para a página inicial", root_path, class:"nav-link" %>

</div>
