.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100%;
  -webkit-mask-image: linear-gradient(to top, transparent 5%, rgb(255, 255, 255) 20%);
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #8BC34A;
  transition: 0.3s ease;
}

.btn-flat:hover {
  background: #8BC34A;
  color: white;
  box-shadow: 2px 2px 2px rgba(228, 227, 227, 0.361);
  border: 5px solid #8BC34A;
}
