#sticky-btn {
  color: #FFFFFF;
  background-color: #8BC34A;
  margin-right: 48px;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
  box-sizing: border-box;
  border: 5px solid #8BC34A;
  border-radius: 50%;
  transition-duration: 0.4s;
  position: fixed;
  bottom: 84px;
  right: -12px;
  z-index: 10;

  &:hover {
    background-color: #FFFFFF;
    color: #8BC34A;
    border: 8px solid #8BC34A;
  }
}

.add-pet-btn {
  color: #D9D9D9;
  padding: auto;
  border-radius: 50%;
  text-decoration: none;
}

.custom-btn.btn-secondary {
  width: 90%;
  text-align: center;
  align-items: center;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  margin-top: 32px;
}

.btn-danger {
  border-color: #8BC34A;
}

.btn-primary {
  border-color: #8BC34A;
  background-color: #8BC34A;
}

.btn-secondary {
  border-color: #8BC34A;
}

.fa-trash {
  color: #c83131;
}

.fa-pen-to-square {
  color: #00aeff;
}

.fa-check {
  color: #8BC34A;
}

.fa-circle-info {
  color: #b6b6b6
}
