.card-white {
  background-color: #ffffff;
  padding: 16px 16px 16px 16px;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding: 16px 16px;
  color: #888888;
  align-items: center;
  text-decoration: none;
  border: 2px solid #D9D9D9;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(217, 217, 217, 0.6);
  height: 100px;
  width: 90%;
  margin: auto;
  margin-bottom: 16px;

  h2 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.item {
  flex-grow: 1;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0 16px 0;

  h1 {
    color: #8BC34A;
    font-weight: bold;
  }
}

.card-white h1 {
  margin: 16px 0 16px 0;
}

.wrap-card-white{
  margin: 24px 0 40px 0;
}
.card-white-item-left {
  font-size: 32px;
}

.card-white-item-right {
  font-size: 16px;
}

.tasks-home {
  margin: 16px 0;
}

.task-card {
  display: flex;
  justify-content: space-between;
  border: 2px solid #D9D9D9;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(217, 217, 217, 0.6);
  width: 95%;
  margin: 8px auto;
  padding: 12px 16px ;
  z-index: 1;
  position: relative;

  .task-card-icon {
    display: flex;
    align-items: center;
  }

  .task-card-description {
    text-align: left;
    padding: 0 16px;
    font-size: auto;
    width: 70%;

  }

  .task-card-hour {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: auto;
    align-items: center;
  }

}

.task-card-description {

  img {
    margin-top: 8px;
  }

  p{
    margin: 0;
  }
}

.collapsing {
  background: #f4f4f4;
  border-style: none;
}

.card-body {
  background: #f4f4f4;
  border-style: none;
}
