.card-white {
  display: flex;
  font-size: 28px;
  font-weight: bold;
  color: #888888;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  border: 2px solid #D9D9D9;
  border-radius: 10px;
  box-shadow: 4px 8px rgba(0,0,0,0.2);
  height: 100px;
  width: 90%;
  margin: auto;
  margin-bottom: 16px;
}
.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0 16px 0;

  h1 {
    color: #8BC34A;
    font-weight: bold;
  }
}
.card-white .p {
  text-decoration: none;
  text-decoration-line: none;
  font-size: 28px;
}
.card-white a:active {
  text-decoration: none;
  text-decoration-line: none;
}
.card-white h1 {
  text-decoration: none;
  margin: 16px 0 16px 0;
}

.wrap-card-white{
  text-decoration: none;
  margin: 24px 0 40px 0;
  text-decoration-line: none;
}
.card-white-item-left {
  font-size: 32px;
}

.card-white-item-right {
  font-size: 16px;
}

.tasks-home {
  padding-top: 16px;
  padding-bottom: 16px;
}

.task-card {
  display: flex;
  justify-content: space-between;
  border: 2px solid #D9D9D9;
  border-radius: 10px;
  box-shadow: 4px 8px #D9D9D9;
  width: 90%;
  height: auto;
  margin: auto;
  margin-bottom: 16px;

  .task-card-icon {
    color: #D9D9D9;
    padding: 8px 8px 8px 24px;
    text-align: left;
    position:relative;
		top:25%;
  }

  .task-card-description {
    text-align: left;
    margin-bottom: 12px;
    font-size: auto;
    width: 70%;
    p{
      margin-bottom: 4px;
    }
  }

  .task-card-hour {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 24px 8px 8px;
    font-size: large;
    padding-bottom: 16px;
    align-items: center;
  }
}
