.card-white {
  background-color: #ffffff;
  padding: 16px 16px 16px 16px;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  color: #888888;
  align-items: center;
  text-decoration: none;
  border: 2px solid #D9D9D9;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(217, 217, 217, 0.6);
  height: 100px;
  width: 90%;
  margin: auto;
  margin-bottom: 16px;

  h2 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.item {
  flex-grow: 1;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0 24px 0;

  h1 {
    color: #8BC34A;
    font-weight: bold;
  }
}

.card-white h1 {
  margin: 16px 0 16px 0;
}

.wrap-card-white{
  margin: 24px 0 40px 0;
}
.card-white-item-left {
  font-size: 32px;
}

.card-white-item-right {
  font-size: 16px;
}

.tasks-home {
  margin: 16px 0;
}

.task-card {
  display: flex;
  justify-content: space-between;
  border: 2px solid #D9D9D9;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(217, 217, 217, 0.6);
  width: 95%;
  margin: 8px auto;
  padding: 12px 16px ;
  z-index: 1;
  position: relative;

  .task-card-icon {
    display: flex;
    align-items: center;
  }

  .task-card-description {
    text-align: left;
    padding: 0 16px;
    font-size: auto;
    width: 70%;

  }

  .task-card-hour {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: auto;
    align-items: center;
  }

}

.task-done {
  opacity: 0.35;
}

.task-card-description {

  img {
    margin-top: 8px;
  }

  p{
    margin: 0;
  }
}

.card-centered {
  background: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 18px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin: 20px;
  justify-content: center;
  align-items: center;
  text-align: left;
  line-height: 28px;
  padding-right: 32px;
}

.collapsing {
  background: #f4f4f4;
  border-style: none;
}

.card-body {
  background: #f4f4f4;
  border-style: none;
}

.lp-card {
  background-color: #ffffff;
  padding: 20px;
  justify-content: center;
  color: #888888;
  align-items: center;
  border: 2px solid #D9D9D9;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(217, 217, 217, 0.6);
  margin: auto;
  margin-bottom: 16px;


  h4 {
    margin-bottom: 8px;
    font-weight: bold;
    justify-content: center;
  }

  p {
    margin: 0;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
