.container-pages {
  margin: 0;
  text-align: center;
  padding-bottom: 80px;
  background: linear-gradient(180deg, rgba(139,195,74,0.4) 0%, rgba(244,244,244,1) 50px);
 }

.container-fixed {
  position: sticky;
  top: 0;
  background-color: #f4f4f4;
  box-shadow: 0 4px 4px rgba(217, 217, 217, 0.6);
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
