// Import your components CSS files here.
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
h1 {
  color: #8BC34A;
  font-weight: bold;
  text-align: center;
  margin: 16px 0 8px 0;
}

@import "alert";
@import "avatar";
@import "button";
@import "container";
@import "form_legend_clear";
@import "navbar";
@import "tom-select/dist/css/tom-select.min.css";
@import "card";
