.navbar-pet-family {
  justify-content: space-between;
  background: #8BC34A;
  color: white;
  padding: 0px 24px 0 24px;


  .nv-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar-item {
    display: block;
    text-align: center;
  }

  p {
    margin: 0;
    color: #ffffff;
  }

}

#navbar-botton {
  position: fixed;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  z-index: 10;
}
