.navbar-lewagon {
  justify-content: space-between;
  background: #8BC34A;
  color: white;
  padding: 8px 20px 0 20px;

  .nv-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar-item {
    display: block;
    text-align: center;
    margin: 0 20px 0 20px;
  }

  a {
    color: white;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#footer {
  position: sticky;
  bottom: 0;
  width: 100%;
}
